@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0a0a64;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 18px; 
    line-height: 1.6;
    
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    color: #f8f6ff;
    font-size: 25px;
    text-align: center;
   font-weight: 700;
    letter-spacing: 0.6px;
}

button {
    background-color: #caddd9;
    color: #3131d8;
    border: none;
    padding: 15px 25px;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 1.0em;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #02ff57;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.answer-btn {
    background-color: #4748a5;
    color: white;
    border: 2px solid #f7fffd;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-btn:hover {
    background-color: #00cdf1;
    color: #1e1e2f;
}

.quiz-icon {
    width: 160px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 5px #00ffcc);
    transition: transform 0.3s ease;
}

.quiz-icon:hover {
    transform: scale(1.1);
}

/* Feedback visual */
.correct {
    background-color: #28a745; /* verde escuro */
    color: #fff;
    border-color: #28a745;
}

.wrong {
    background-color: #dc3545; /* vermelho escuro */
    color: #fff;
    border-color: #dc3545;
}

/* Quando desabilitado, manter estilo sem clique */
.answer-btn:disabled {
    cursor: default;
    opacity: 0.7;
}
