@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1e1e2f;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    color: #00ffcc;
    font-size: 25px;
    text-align: center;
}

button {
    background-color: #00ffcc;
    color: #1e1e2f;
    border: none;
    padding: 15px 25px;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 1.0em;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #00ccb3;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.answer-btn {
    background-color: #333;
    color: white;
    border: 2px solid #00ffcc;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-btn:hover {
    background-color: #00ffcc;
    color: #1e1e2f;
}

.quiz-icon {
    width: 160px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 5px #00ffcc);
    transition: transform 0.3s ease;
}

.quiz-icon:hover {
    transform: scale(1.1);
}