

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
 body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(90deg, rgb(6, 2, 80)0%, rgb(52, 42, 235)100%);
}


  body h2{
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;

}

 main{
    
    padding: 10px; 
    border-radius: 100px;
    width: 100%;
    max-width: 300px;
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  

} 
 .content{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 40px;
    gap: 10px; 
    
}
.Quantidade{
    text-align: right;
}

.Respostas{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
   width: 80%;
   text-align: start;
   padding: 20px;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   background-color: rgb(1, 53, 73);
   color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
}
.verdadeiro {
    background-color: rgb(63, 43, 216);
    color: rgb(255, 255, 255);
}
.falso {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 251, 251);
}